
/*--- Pour toutes les pages ---*/

@media (min-width: 1024px) { /* ordinateur */
    .container img {
    width: 20rem;
    height: auto;
    margin: 0 auto auto 60%;
    }

    .commentaire {
        width: 50%;
        margin: auto auto auto 10%;
    }
}

@media (max-width: 768px) { /* tablette et smartphone */
    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    h1{
        font-size: 1.6em;
        text-align: center;
        margin-left: 0;
    }
    
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #00000090;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
    }

    #menu-barre:checked + .hamburger + .menu {
        display: flex;
    }
    
    .commentaire {
        width: 90%;
        margin: 20px auto;
        font-size: 1.1rem;
    }

    section {
    grid-template-columns: 1fr;
    }

    a{
        font-size: 1.1em;
    }

    .textes{
        font-size: 1em;
    }

}

body {
    background-image: url("assets/Photos/Fond-Site.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}

nav {
    background-color: #0000002d;
    color: #85edff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.01%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20%;
}

@font-face {
    font-family: "LuckiestGuy";
    src: url("assets/fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
    font-family: "RobotoSerif-Variable";
    src: url("assets/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf");
}
@font-face {
    font-family: "ComicRelief";
    src: url("assets/fonts/ComicRelief-Regular.ttf");
}

h1 {
    margin-left: 10%;
    font-size: 2.5em;
    font-family: RobotoSerif-Variable;
}
#menu-barre {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu {
    margin-right: 20%;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 1%;
    margin: 0.1% 0 0 0;
    flex-wrap: wrap;
}

.container img {
    width: 20rem;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    display: block;
    background-color: #ffbb00;
    border-radius: 50%;
    box-shadow: 0 0 15px #ffbb00, 0 0 50px #ffbb0071, 0 0 120px #ffbb0025;
}

.container:hover img {
    filter: brightness(50%);
    background: radial-gradient(circle,#85edff 20%,#85ceff 50%, #1c93e2 85%);
}

a {
    text-decoration: none;
    color: #ffbb00;
    font-size: 1.4em;
    font-family: ComicRelief;
}

.lien-text {
    font-size: 0.9em;
}

.commentaire {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 100px 10px 100px 100px;
    color: #001e46;
    background: radial-gradient(circle,#85edff 20%,#85ceff 50%, #1c93e2 85%);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0 2% 0;
    color: #ffbb00;
}


/*--- index.html ---*/

.texte {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 10px;
    transform: translate(-50%, -50%);
    color: #ffbb00;
    background-color: #00122b;
    font-family: RobotoSerif-Variable;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.container:hover .texte {
    opacity: 1;
}

.présentation-boutons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 1%;
    padding: 1%;
    font-family: RobotoSerif-Variable;
    background-color: #0000002d;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

.glow-btn {
    font-size: clamp(16px, 2vw, 24px);
    color: #85edff;
    padding: 5%;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 5%;
    border-radius: 25px;
    background: linear-gradient( to bottom right,#011C40, #0000002d);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.glow-btn:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transition: 0.4s;
    transform: scale(0);
    pointer-events: none;
}

.glow-btn:hover:before {
    transform: scale(1);
}

.glow-btn:hover {
    color: #ffbb00;
    background: #00122b;
    box-shadow: 0 0 15px #011C40, 0 0 10px #011C408f, 0 0 10px #011C4033;
    border-radius: 30px;
}

.glow-btn:active {
    transform: scale(0.95);
}


/*--- Autres Pages ---*/

section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    margin: 1%;
}

.container .card {
    position: relative;
}

.card{
    width: 100%;
    max-width: 600px;
    min-height: 2%;
    transition: 0.4s;
    text-align: center;
}

.card .descriptif {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
    background: radial-gradient(circle,#85edff 20%,#85ceff 50%, #1c93e2 85%);
    opacity: 1;
    transition: 0.2s;
    text-align: center;
    border-radius: 50px;
}

.card:hover .descriptif {
    transform: translateY(0);
    background: #ffbb00;
    opacity: 1;
    border-radius: 30px 30px 0 0;
}

h2 {
    font-size: 2em;
    color: #001e46;
    text-align: center;
    display: inline-block;
}

.card .textes {
    border-radius: 50px;
    opacity: 0.1;
}

.textes {
    position: relative;
    background: radial-gradient(circle,#85edff 20%,#85ceff 50%, #1c93e2 85%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-100px);
    padding: 4%;
    font-size: 1.5em;
}

.card:hover .textes{
    transform: translateY(0);
    background: #001e46;
    color: #ffbb00;
    opacity: 1;
    border-radius: 0 0 30px 30px;
}

